<ion-content fullscreen=true class="bg">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>QR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img class="logo" src="../assets/img/logo_registrapp.png"></ion-img>

  <ion-card-content class="ion-text-center">
    <ion-button (click)="scaner()">Scan QR</ion-button>
    <br><br><br>
    <h2 style="color: white; font-weight: bold;">Información QR:</h2>
    <br><br><br>
    <h2 style="color: white; font-weight: bold;">{{code}}</h2>
  </ion-card-content>
  
</ion-content>
