ion-toolbar{
    --background: #23c774;
    --border-color: transparent;
}

.burguer{
    --background: #23c774 !important;
    --box-shadow: none;
    margin-right: 0.5em;
}

.logo{
    width: 5em;
    margin-left: 1em ;
}