<ion-header class="ion-no-border">
  <!-- invocación al component -->
  <app-header></app-header>
</ion-header>

<ion-content>
  <div><img src="./assets/img/logo_solo.png" class="logoapp"></div>
  <div><h3>Resumen</h3></div>
  <div>
    <ul>
      <li>Nombre: Usuario_1 </li>
      <li>Apellido: Ap_usuario_1</li>
      <li>Carrera: Ing. Informatica</li>
      <br>
      <li>Asignatura: PGY4121</li>
      <li>Sección: 007D</li>
      <li>Fecha: {{today | date: 'dd/MM/yyyy'}}</li>
      <li>Hora: {{ today | date: 'HH:mm' }}</li>
      <br>
      <li>Asistencia: Presente</li>
    </ul>
  </div>
  <br>
  <div class="lebuton">
    <button mat-flat-button class="sig" (click)="volver()">Volver</button>
  </div>
  
</ion-content>



