<ion-header class="ion-no-border">


  <app-header></app-header>
</ion-header>

<ion-content>
  <div><img src="./assets/img/logo_solo.png" class="logoapp"></div>
  <div><h3>Resumen</h3></div>
  <div>
    <ul>
      <li>Usuario: {{user.user}} </li>
      <li>Nombre: {{user.nombre}} </li>
      <li>Carrera: {{user.carrera}}</li>
      <br>
      <li>Asignatura / Sección: {{data}}</li>
      <li>Fecha: {{today | date: 'dd/MM/yyyy'}}</li>
      <!--<li>Hora: {{today | date: 'HH:mm'}}</li>-->
    </ul>
  </div>
  <br>
  <div class="lebuton">
    <button mat-flat-button class="sig" (click)="confirmAttend()">Confirmar asistencia</button>
  </div>
  <br>
  <div class="lebuton">
    <button mat-flat-button class="sig" (click)="Record()">Historial</button>
  </div>
  <br>
  <div class="lebuton">
    <button mat-flat-button class="sig" (click)="volver()">Volver</button>
  </div>
  
</ion-content>



