<ion-content fullscreen=true class="bg">

  <ion-card class="card">

    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-img class="duoc" src="../assets/img/logo_duoc_blanco.png"></ion-img>
        <!-- <ion-title class="ion-text-start header-title">DuocUC</ion-title> -->
      </ion-toolbar>
    </ion-header>


    <ion-card-header>
      <ion-img class="logo" src="../assets/img/logo_registrapp.png"></ion-img>
      <!-- <ion-label class="title">
        <h6>Tu aplicación de registro de asistencia</h6>
      </ion-label> -->
    </ion-card-header>

    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <!-- INPUTS -->
        <ion-item class="inp">
          <ion-input type="text"
                     name="usuario"
                     maxlength=10
                     minlength=3
                     [(ngModel)]="user.nombre"
                     required
                     placeholder="Usuario">
          </ion-input>
        </ion-item>
        <ion-item class="inp">
          <ion-input type="password"
                     name="password"
                     minlength="4"
                     maxlength="4"
                     [(ngModel)]="user.password"
                     required
                     placeholder="Contraseña">
          </ion-input>  
        </ion-item>
      </form>

        <!-- BOTON -->
        <ion-card-content class="ion-text-center">
          <ion-button shape="block" fill="solid" [disabled]="formulario.invalid" shape="round" (click)="login()">
            Iniciar sesión
          </ion-button>
        </ion-card-content>
      
      <!-- LINK -->
      <div class="enlace ion-text-center">
        <a [routerLink]="['/recuperacion']">¿Olvidaste tu contraseña?</a>
      </div>

    </ion-card-content>

  </ion-card>
</ion-content>
