<ion-header class="ion-no-border">
  <!-- invocación al component -->
  <app-header></app-header>
</ion-header>


  <ion-content>
    <div><img src="../assets/img/logo_solo.png" class="logoapp"></div>
  <div>
        <h1 id="saludo" style="text-transform: capitalize;">¡Hola! {{ user?.nombre || 'Usuario_x'}}</h1>
    <div>
      <p>
        Para confirmar tu asistencia
        presiona el botón de escanear y
        escanea el código QR entregado por tu docente.
      </p>
    </div>
  </div>

<!-- BOTON / Funcion scan() para pasar a page scanner.-->
<ion-button shape="round" fill="outline" (click)="scan()">
  Escanear
</ion-button>

<div class="enlace ion-text-center">
  <a [routerLink]="['/recuperacions']">¿Necesitas ayuda?</a>
</div>


</ion-content>


