<ion-header class="ion-no-border">
  <!-- invocación al component -->
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list-header>
      <ion-title>Historial de asistencia</ion-title>
    </ion-list-header>  
    <ion-list>  
      <ion-item *ngFor="let asi of asistencias">
        <ion-label>
          <h4>{{ user.nombre }}</h4>
          <h4>{{ user.carrera }}</h4>
        </ion-label>
        <ion-label>
          <h4>{{ asi.asignatura }}</h4>
          <h4>{{ asi.ramo.sigla }}</h4>
          <h5>{{ asi.ramo.seccion }}</h5>
          <h5>{{ asi.docente }}</h5>
          <h5>{{ asi.correo }}</h5>
          <h5>{{ asi.fecha }}</h5>
          <h5>{{ asi.hora }}</h5>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="lebuton">
    <button mat-flat-button class="sig" (click)="volver()">Volver</button>
  </div>
  <br>
</ion-content>
